[Desktop Entry]
Encoding=UTF-8
Name=Arbinex
Comment=Arbinex P2P Cryptocurrency
Comment[fr]=Arbinex, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Arbinex, eşten eşe kriptografik sanal para birimi
Exec=arbinex-qt %u
Terminal=false
Type=Application
Icon=arbinex128
MimeType=x-scheme-handler/arbinex;
Categories=Office;Finance;
